*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

@media (min-width: 576px ) and  (max-width: 768px ) {
    .navBarLg {
        display: none;
        
    }

    .navMenu{
        display: none;
    }

    .imgBanner {
        max-width: 100%; /* Establece el ancho máximo de la imagen como un porcentaje del contenedor */
        height: auto; /* Mantiene la proporción de aspecto de la imagen */
    }
    
    .image-container11{
        max-width: 50% ;
        height: 20%;
    }
   
  
    .banner-image {
        width: 100%; /* Para asegurar que la imagen ocupe todo el ancho del container */
        height: auto; /* Altura automática para mantener la proporción de la imagen */
        max-width: 100%; /* Máximo ancho de la imagen */
        max-height: 200px; /* Máxima altura de la imagen (ajustar según tu necesidad) */
        padding-left: 80px; /* Espaciado interior del container */
        padding-right: 80px;
        padding-top: 20px;
        justify-content: center;
    }

    .imgLogomd{
        width: 190px;
    }


    .card{
        margin: 0 .5em;
        width: calc(100%);
    }

    .price{
        font-size: 20px;
        color: #E22F89;
        margin: 0;
        font-weight:bold ;
    }
    
    .transf{
        margin: 0;
    }

    /*Card efect*/
    .hover-image{
        display: none;
    }
}

@media   (min-width: 768px ) and (max-width: 992px ) {
    .navBarLg {
        display: none;
        
    }

    .imgBanner {
        max-width: 100%; /* Establece el ancho máximo de la imagen como un porcentaje del contenedor */
        height: auto; /* Mantiene la proporción de aspecto de la imagen */
    }
 

    .image-container11{
        max-width: 50% ;
        height: 20%;
    }
   
  
    .banner-image {
        width: 100%; /* Para asegurar que la imagen ocupe todo el ancho del container */
        height: auto; /* Altura automática para mantener la proporción de la imagen */
        max-width: 100%; /* Máximo ancho de la imagen */
        max-height: 200px; /* Máxima altura de la imagen (ajustar según tu necesidad) */
        padding-left: 80px; /* Espaciado interior del container */
        padding-right: 80px;
        padding-top: 20px;
        justify-content: center;
    }

    .navMenu{
        display: none;
    }

    

    .cards-wrapper{
        display: flex;
        justify-content: center;
    }
    
    .card{
        margin: 0 .5em;
        width: calc(100%/3);
    }
    
    .price{
        font-size: 15px;
        color: #E22F89;
        margin: 0;
        font-weight:bold ;
    }
    
    .transf{
        margin: 0;
    }
    
    .imgLogomd{
        width: 190px;
    }

    /*Card efect*/
    .hover-image{
        display: none;
    }
}

/* Estilos para el navbar superior */
@media (min-width: 992px)  {
    .navBarLg {
        display: block; 
    }
    .navBarmd {
        display: none !important;
    }

    .imgBanner {
        max-width: 100%; /* Establece el ancho máximo de la imagen como un porcentaje del contenedor */
        height: auto; /* Mantiene la proporción de aspecto de la imagen */
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .image-container11{
        max-width: 50% ;
        height: 20%;
    }
   
  
    .banner-image {
        width: 100%; /* Para asegurar que la imagen ocupe todo el ancho del container */
        height: auto; /* Altura automática para mantener la proporción de la imagen */
        max-width: 100%; /* Máximo ancho de la imagen */
        max-height: 200px; /* Máxima altura de la imagen (ajustar según tu necesidad) */
        padding-left: 11vw; /* Espaciado interior del container */
        padding-right: 11vw;
        padding-top: 20px;
        justify-content: center;
    }
    
 
    .cards-wrapper{
        display: flex;
    }
    
    .card{
        margin: 0 .5em;
        width: calc(100%/5);
    }
    
    .c2{
        margin: 1vw .1em;
        width: calc(100%/4);
    }
    .price{
        font-size: 25px;
        color: #E22F89;
        margin: 0;
        font-weight:bold ;
    }
    
    .transf{
        margin: 0;
    }

    /*Card efect*/
    .card:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: box-shadow 0.3s ease-in-out;
    }
    
    .card .image-container {
        position: relative;
        overflow: hidden;
    }

    .card .image-container .image {
        transition: opacity 0.3s ease;
    }

    .card:hover .image-container .image {
        opacity: 0;
    }

    .card:hover .image-container .hover-image {
        opacity: 1;
        transform: scale(1.1);
        transition: opacity 0.3s ease, transform 0.3s ease; /* Agrega la transición de transformación */
    }

    .card .image-container .hover-image {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    /*Menu efect*/
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    
    .dropdown-menu li:hover{
        color: #00e6fa;
    }
    
    li .dropdown-item:hover {
        color: #E22F89;
    }

    
}

/*Superior bar*/
.supBarr{
    background-color: #00e6fa;
    color: white;
}

/*NavBar>1000px*/

.navBarLg{
    background-color: black;
}

.imgLogoLg{
    width: 190px;
    margin-left: 500px;
}


.imgLogo{
    width: 170px;
    align-items: center;
    margin-right: 10px;
    margin-left: 30px;

}
.iconNav{
    color: #00e6fa;
    
    
}



/*NavBar<1000px*/
.nav-link,
.dropdown-item {
    color: black;
}

.fnt{
    font-size: 25px;
    
}

/*Body2*/
.titleH2{
    border: 10px solid #00e6fa;
    border-width: 6px ;
    width: 200px;
    text-align: center;
    border-radius: 3px;
    opacity: 100%;
}

/*Cards*/

.card{
    box-shadow: 0.3s, transform 0.3s;
}


/*Testing*/
.image-banner3{
    width: 31vw; /* Para asegurar que la imagen ocupe todo el ancho del container */
    height: 59vh; /* Altura automática para mantener la proporción de la imagen */
    padding-left: 2vw; /* Espaciado interior del container */
    padding-right: 11vw;
    padding-top: 20px;
    justify-content: start;
}