*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1000px) {
    .navBarLg {
        display: none;
        
    }

    .imgBanner{
        width: 100vw;
        margin: 0;
    }

    .navMenu{
        display: none;
    }
    
}

/* Estilos para el navbar superior */
@media (min-width: 1000px) {
    .navBarLg {
        display: block; 
    }
    .navBarmd {
        display: none !important;
    }

    .imgBanner{
        width: 80vw;
        height: 70vh;
        margin-left: 10vw ;
        margin-right: 10vw;
        margin-top: 10h;
    }
    
}
/*Superior bar*/
.supBarr{
    background-color: #E22F89;
}

/*NavBar>1000px*/

.navBarLg{
    background-color: black;
}

.imgLogoLg{
    width: 190px;
    margin-left: 500px;
}


.imgLogo{
    width: 170px;
    align-items: center;
    margin-right: 10px;
    margin-left: 30px;

}
.iconNav{
    color: #E22F89;
    
    
}




/*NavBar<1000*/
.nav-link,
.dropdown-item {
    color: black;
}

.fnt{
    font-size: 25px;
    
}

.cardCarousel{
    width: 30vh;
}
