*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

@media  (min-width: 576px ) and  (max-width: 768px ) {
    .navBarLg {
        display: none;
        
    }

    .navMenu{
        display: none;
    }

    .imgLogomd{
        width: 190px;
    }

    .imgBanner{
        width: 100vw;
        height: 50vh;
    }

    .card{
        margin: 0 .5em;
        width: calc(100%);
    }
}
@media   (min-width: 768px ) and (max-width: 992px ) {
    .navBarLg {
        display: none;
        
    }

    .imgBanner{
        width: 100vw;
        height: 50vh;
    }

    .navMenu{
        display: none;
    }


    .cards-wrapper{
        display: flex;
        justify-content: center;
    }
    
    .card{
        margin: 0 .5em;
        width: calc(100%/3);
    }
    .price{
        font-size: 15px;
        color: #E22F89;
        margin: 0;
        font-weight:bold ;
    }
    
    .transf{
        margin: 0;
    }
    
    .imgLogomd{
        width: 190px;
    }
}

/* Estilos para el navbar superior */
@media (min-width: 992px)  {
    .navBarLg {
        display: block; 
    }
    .navBarmd {
        display: none !important;
    }

    .imgBanner{
        width: 100vw;
        height: 50vh;
        
    }
    
 
    .cards-wrapper{
        display: flex;
    }
    
    .card{
        margin: 0 .5em;
        width: calc(100%/5);
    }
   
    .price{
        font-size: 25px;
        color: #E22F89;
        margin: 0;
        font-weight:bold ;
    }
    
    .transf{
        margin: 0;
    }
    
}
/*Superior bar*/
.supBarr{
    background-color: #E22F89;
    color: white;
}

/*NavBar>1000px*/

.navBarLg{
    background-color: black;
}

.imgLogoLg{
    width: 190px;
    margin-left: 500px;
}


.imgLogo{
    width: 170px;
    align-items: center;
    margin-right: 10px;
    margin-left: 30px;

}
.iconNav{
    color: #E22F89;
    
    
}




/*NavBar<1000*/
.nav-link,
.dropdown-item {
    color: black;
}

.fnt{
    font-size: 25px;
    
}

/*Body2*/
.titleH2{
    border: 10px solid #E22F89;
    border-width: 3px ;
    width: 200px;
    text-align: center;
    border-radius: 3px;
}

/*Cards*/

.card{
    box-shadow: 0.3s, transform 0.3s;
    
    
}

  


/*CardEfect*/
.card .image-container {
    position: relative;
    overflow: hidden;
}

.card .image-container .image {
    transition: opacity 0.3s ease;
}

.card:hover .image-container .image {
    opacity: 0;
}

.card:hover .image-container .hover-image {
    opacity: 1;
    transform: scale(1.1);
    transition: opacity 0.3s ease, transform 0.3s ease; /* Agrega la transición de transformación */
}

.card .image-container .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/*1st Banner*/

.conteinerImgBanner1{
    border: 1px solid black;
    text-align: center;
    
}

/*2nd Banner*/
.conteinerImgBanner2{
    border: 1px solid black;
    text-align: center;
    
    
}  
/*3rd Banner*/
.conteinerImgBanner3{
    border: 1px solid black;
    text-align: center;
  
    
}
/*4th Banner*/
.conteinerImgBanner4{
    border: 1px solid black;
    text-align: center;
   
    
}
/*5th Banner*/
.conteinerImgBanner5{
    border: 1px solid black;
    text-align: center;
 
   
    
}