{% extends 'gt_store/base_general.html' %}
{% block contenido %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="fw-bold fs-5 mb-4">Dirección</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{ form.calle.id_for_label }}" class="form-label">Calle</label>
                            {{ form.calle }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.numero.id_for_label }}" class="form-label">Número</label>
                            {{ form.numero }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.depto_casa.id_for_label }}" class="form-label">Depto/Casa</label>
                            {{ form.depto_casa }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.nombre_receptor.id_for_label }}" class="form-label">Nombre Receptor</label>
                            {{ form.nombre_receptor }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.apellido_receptor.id_for_label }}" class="form-label">Apellido Receptor</label>
                            {{ form.apellido_receptor }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.rut_receptor.id_for_label }}" class="form-label">RUT Receptor</label>
                            {{ form.rut_receptor }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.telefono_receptor.id_for_label }}" class="form-label">Teléfono Receptor</label>
                            {{ form.telefono_receptor }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.region.id_for_label }}" class="form-label">Región</label>
                            {{ form.region }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.comuna.id_for_label }}" class="form-label">Comuna</label>
                            {{ form.comuna }}
                        </div>
                        <button type="submit" class="btn btn-info text-white w-100 mt-2 fw-semibold shadow-sm">Continuar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="fw-bold fs-5 mb-4">Resumen del Carrito</h2>
                    <div class="product-list">
                        {% if request.session.carrito.items %}
                            {% for key, value in request.session.carrito.items %}
                                <div class="product-item mb-3">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="{% url 'detalle_producto' value.producto_id %}">
                                                <div class="container d-flex align-items-center justify-content-center">
                                                    <img src="{{ value.imagen }}" alt="{{ value.nombre }}" class="img-fluid">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-8 product-details">
                                            <p class="product-name">{{ value.nombre }}</p>
                                            <div class="d-flex justify-content-between">
                                                <p class="fw-bold">Total pago con transferencia:</p>
                                                <p class="product-price" data-acumulado-transferencia="{{ value.acumulado_transferencia }}"></p>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <p>Total otros medios de pago:</p>
                                                <p class="product-price" data-acumulado-normal="{{ value.acumulado_normal }}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="resumenFijo">
                        <div class="d-flex justify-content-between">
                            <p class="fw-bold">Pago con transferencia:</p>
                            <p class="product-price fw-bold fs-5 text-success" data-total-transferencia="{{ total_carrito_transferencia }}"></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Otro medio de pago:</p>
                            <p class="product-price fs-5" data-total-normal="{{ total_carrito_normal }}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
