{% extends 'gt_store/base.html' %}
{% load static %}
{% block contenido %}
  <!--Distribution-->
<div class="container-fluid  d-none d-md-none d-sm-none d-xs-none d-lg-block text-start" style="font-size: 15px; padding-left: 75px;">
    <div class="row pt-4 pb-4">
        <div class="col-12">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'general_pc' %}">PC</a></li>
                    <li class="breadcrumb-item active" aria-current="page">PC Gamer</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="filter col-2">
            <!--Filtros-->
        </div>
        <div class="col-md-12 col-lg-9 col-sm-12 col-xs-12 d-flex flex-wrap">
            {% for p in productos %}
            <div class="position-relative col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card border rounded-0">
                    <a href="#">
                        <img src="{{ p.imagen.url }}" class="card-img-top main-image mx-auto d-block" style="height: 200px; width: 200px;">
                    </a>
                    <div class="card-body" style="height: 295px;">
                        <h6 class="fw-bold">{{ p.marca }}</h6>
                        <div class="position-relative" style="height: 86.1px;">
                            <p class="productDesc">{{ p.descripcion }}</p>
                        </div>
                        <div class="priceContainer d-flex position-absolute dsctoTarget">
                            <span class="dscto">{{ p.descuento }} DCTO.</span>
                            <span class="old-price oldPrice">{{ p.precio_anterior }}</span>
                        </div>
                        <div class="position-relative pt-4">
                            <p class="price">{{ p.precio_transferencia }}</p>
                            <p class="metod">Transferencia</p>
                            <p class="price">{{ p.precio_normal }}</p>
                            <p class="metod">Otros medio de pago</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}