{% extends 'gt_store/base.html' %}
{% load static %}
{% block contenido %}
  <!--Distribution-->
<div class="container-fluid  d-none d-md-none d-sm-none d-xs-none d-lg-block text-start" style="font-size: 15px; padding-left: 75px;">
    <div class="row pt-4 pb-4">
        <div class="col-12">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'general_pc' %}">PC</a></li>
                    <li class="breadcrumb-item active" aria-current="page">PC Gamer</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="filter col-2">
            <!--Filtros-->
        </div>
        <div class="position-relative col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card border rounded-0" data-marca="kingstone" data-tipo="ssd">
                <a href="#">
                    <img src="{% static 'gt_store/img/Pc/Componentes/Almacenamiento/almacenamiento/a-9.png' %}" class="card-img-top main-image " alt="">
                </a>
            </div>
            <div class="card-body" style="height: 295px;" style="height: 295px;">
                <h6 class="fw-bold">KINGSTON</h6>
                <div class="position-relative" style="height: 86.1px;">
                    <p class="productDesc">Kingston A2000 250 GB (SA2000M8/250G)</p>
                </div>
                <div class="priceContainer d-flex position-absolute dsctoTarget">
                    <span class="dscto dcto"></span> <span class="old-price oldPrice"></span>
                </div>
                <div class="position-relative pt-4">
                    <p class="price">$49.990</p>
                    <p class="metod ">Transferencia</p>
                    <p class="price">$50.990</p>
                    <p class="metod ">Otros medios de pago</p>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}