{% extends 'gt_store/base_filtros.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="#">Periféricos</a></li>
    <li class="breadcrumb-item"><a href="#">Mouse</a></li>
{% endblock %}
            {%block filtros%}
            <div class="container-expand-md border">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed border" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Marca
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse show"
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input marca" id="mouse_razer" data-marca="razer">
                          <label class="form-check-label" for="mouse_razer">Razer</label>
                        </div>
      
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input marca" id="mouse_logitech" data-marca="logitech">
                          <label class="form-check-label" for="mouse_logitech">Logitech G</label>
                        </div>
      
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input marca" id="mouse_hyperx" data-marca="hyperx">
                          <label class="form-check-label" for="mouse_hyperx">HyperX</label>
                        </div>
      
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed border" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Sensor
                      </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse " data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input sensor" id="sensorOptico" data-sensor="optico">
                          <label class="form-check-label" for="sensorOptico">Óptico</label>
                        </div>
      
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input sensor" id="sensorLaser" data-sensor="laser">
                          <label class="form-check-label" for="sensorLaser">Láser</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Precio
                      </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse "
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body ">
                        <div class="mb-3 form-check ">
                          <input type="checkbox" class="form-check-input precioMouse" id="rango1Precio" value="rango1">
                          <label class="form-check-label" for="rango1Precio">$50.000 - $100.000</label>
      
                          <input type="checkbox" class="form-check-input precioMouse" id="rango2Precio" value="rango2">
                          <label class="form-check-label" for="rango2Precio">$100.001 - $200.000</label>
      
                          <input type="checkbox" class="form-check-input precioMouse" id="rango3Precio" value="rango3">
                          <label class="form-check-label" for="rango3Precio">$200.001 - $300.000</label>
      
                          <input type="checkbox" class="form-check-input precioMouse" id="rango4Precio" value="rango4">
                          <label class="form-check-label" for="rango4Precio">$300.001 - $500.000</label>
      
                          <input type="checkbox" class="form-check-input precioMouse" id="rango5Precio" value="rango5">
                          <label class="form-check-label" for="rango5Precio">$500.001 - $100.000.000</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>      
            {% endblock %}
        </div>
        {% block card %}
        <div class="col-md-12 col-lg-9 col-sm-12 col-xs-12 d-flex flex-wrap">
            {% for p in productos %}
            <div class="position-relative col-lg-3 col-md-4 col-sm-6 mb-4">
                <a href="{% url 'detalle_producto' p.id_producto %}" class="stretched-link text-decoration-none">
                    <div class="card border rounded-0">
                        {% if p.imagen %}
                            <img src="{{ p.imagen.url }}" class="card-img-top main-image mx-auto d-block"  >
                        {% endif %}
                        
                        <div class="card-body" style="height: 295px;">
                            <h6 class="fw-bold">{{ p.marca }}</h6>
                            <div class="position-relative" style="height: 86.1px;">
                                <p class="productDesc">{{ p.descripcion }}</p>
                            </div>
                            {% if p.descuento is not 0 or p.precio_anterior is not 0 %}
                                <div class="priceContainer d-flex position-absolute dsctoTarget">
                                    {% if p.descuento is not 0 %}
                                        <span class="dscto">{{ p.descuento }}% DCTO.</span>
                                    {% endif %}
                                    {% if p.precio_anterior is not 0 %}
                                        <span class="old-price oldPrice">{{ p.precio_anterior }}</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="position-relative pt-4">
                                <p class="price">${{ p.precio_transferencia }}</p>
                                <p class="metod">Transferencia</p>
                                <p class="price">${{ p.precio_normal }}</p>
                                <p class="metod">Otros medio de pago</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
