{% extends 'gt_store/base_general.html' %}
{% load static %}
{% block contenido %}
<!--Carrousel-->
<div class="owl-carousel owl-theme " id="carousel1">
    <div class="item">
        <div class="image-container1 d-flex justify-content-center">
            <img src="{% static 'gt_store/img/Banner/banner3.png' %}" class="d-block imgBanner" alt="...">
        </div>
    </div>
    <div class="item">
        <div class="image-container1 d-flex justify-content-center">
            <!--img banner2-->
            <img src="{% static 'gt_store/img/Banner/a (1).png' %} " class="d-block imgBanner" alt="...">
        </div>
    </div>
    <div class="item">
        <div class="image-container1 d-flex justify-content-center">
            <!--a-->
            <img src="{% static 'gt_store/img/Banner/banner2.png' %}" class="d-block imgBanner" alt="...">
        </div>
    </div>
</div>
<!--Cards-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 p-5">
            <h1 class=" pt-5 text-center text-black">Destacados en PC Gamer</h1>
            <div class="border-bottom  titleH2 mx-auto"></div>
            <div class="owl-carousel owl-theme pt-5">
                {% for pc in pcs_destacados %}
                <div class="item">
                    <div class="cards-wrapper position-relative">
                        <a href="{% url 'detalle_producto' pc.id_producto %}" class="stretched-link text-decoration-none">
                            <div class="card border-0">
                                <a href="#">
                                    <div class="image-container">
                                        <img src="{{ pc.imagen.url }}" class="card-img-top main-image" alt="">
                                    </div>
                                </a>
                                <div class="card-body" style="height: 300px;">
                                    <h6 class="fw-bold">{{ pc.marca }}</h6>
                                    <div class="position-relative" style="height: 86.1px;">
                                        <p class="productDesc">{{ pc.descripcion }}</p>
                                    </div>
                                    <div>
                                        {% if pc.descuento is not 0 or pc.precio_anterior is not 0 %}
                                        <div class="priceContainer d-flex position-absolute dsctoTarget">
                                            {% if pc.descuento is not 0 %}
                                                <span class="dscto">{{ pc.descuento }}% DCTO.</span>
                                            {% endif %}
                                            {% if pc.precio_anterior is not 0 %}
                                                <span class="old-price oldPrice" data-precio-anterior="{{pc.precio_anterior}}"></span>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                        <div class="position-relative pt-4">
                                            <p class="price" data-precio-transferencia="{{pc.precio_transferencia}}"></p>
                                            <p class="transf fw">Transferencia</p>
                                            <p class="price" data-precio-normal="{{pc.precio_normal}}"></p>
                                            <p class="otro fw">Otro medio de pago</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
</div>

<!--Banner2-->
<div class="banner-container d-flex justify-content-center p-5">
    <img src="{% static 'gt_store/img/Banner/banner-potencial.png' %}" class="d-block banner-image" alt="...">
</div>

<!--Cards 2-->
<div class="container-fluid ">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-sm-10 col-md-10 col-lg-10">
            <h1 class=" pt-5 text-center text-black">Potencia tu PC</h1>
            <div class="border-bottom  titleH2 mx-auto"></div>
            <div class="owl-carousel owl-theme pt-5">
                {% for poten in potencia  %}
                <div class="item">
                    <div class="cards-wrapper position-relative">
                        <a href="{% url 'detalle_producto' poten.id_producto %}" class="stretched-link text-decoration-none">

                            <div class="card border-0">
                                <a href="#">
                                    <div class="image-container">
                                        <img src="{{ poten.imagen.url }}" class="card-img-top main-image" alt="">
                                    </div>
                                </a>
                                <div class="card-body" style="height: 300px;">
                                    <h6 class="fw-bold">{{ poten.marca }}</h6>
                                    <div class="position-relative" style="height: 86.1px;">
                                        <p class="productDesc">{{ poten.descripcion }}</p>
                                    </div>
                                    <div>
                                        {% if poten.descuento is not 0 or poten.precio_anterior is not 0 %}
                                        <div class="priceContainer d-flex position-absolute dsctoTarget">
                                            {% if poten.descuento is not 0 %}
                                                <span class="dscto">{{ poten.descuento }}% DCTO.</span>
                                            {% endif %}
                                            {% if poten.precio_anterior is not 0 %}
                                                <span class="old-price oldPrice" data-precio-anterior="{{ poten.precio_anterior }}"></span>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                        <div class="position-relative pt-4">
                                            <p class="price" data-precio-transferencia="{{poten.precio_transferencia}}"></p>
                                            <p class="transf fw">Transferencia</p>
                                            <p class="price" data-precio-normal="{{poten.precio_normal}}"></p>
                                            <p class="otro fw">Otro medio de pago</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>


<!--Banner2-->
<div class="banner-container d-flex justify-content-center p-5">
    <img src="{% static 'gt_store/img/Banner/banner-potencial.png' %}" class="d-block banner-image" alt="...">
</div>

<!--Cards 3-->
<div class="container-fluid ">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-sm-10 col-md-10 col-lg-10">
            <h1 class=" pt-5 text-center text-black">Notebooks Gamer</h1>
            <div class="border-bottom  titleH2 mx-auto"></div>
            <div class="owl-carousel owl-theme pt-5">
                {% for note in notebooks  %}
                <div class="item">
                    <div class="cards-wrapper position-relative">
                        <a href="{% url 'detalle_producto' note.id_producto %}" class="stretched-link text-decoration-none">
                            <div class="card border-0">
                                <a href="#">
                                    <div class="image-container">
                                        <img src="{{ note.imagen.url }}" class="card-img-top main-image" alt="">
                                    </div>
                                </a>
                                <div class="card-body" style="height: 300px;">
                                    <h6 class="fw-bold">{{ note.marca }}</h6>
                                    <div class="position-relative" style="height: 86.1px;">
                                        <p class="productDesc">{{ note.descripcion }}</p>
                                    </div>
                                    <div>
                                        {% if note.descuento is not 0 or note.precio_anterior is not 0 %}
                                        <div class="priceContainer d-flex position-absolute dsctoTarget">
                                            {% if note.descuento is not 0 %}
                                                <span class="dscto">{{ note.descuento }} DCTO.</span>
                                            {% endif %}
                                            {% if note.precio_anterior is not 0 %}
                                                <span class="old-price oldPrice" data-precio-anterior="{{ note.precio_anterior }}"></span>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                        <div class="position-relative pt-4">
                                            <p class="price" data-precio-transferencia="{{ note.precio_transferencia }}"></p>
                                            <p class="transf fw">Transferencia</p>
                                            <p class="price" data-precio-normal="{{note.precio_normal}}"></p>
                                            <p class="otro fw">Otro medio de pago</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>

<!--Banner4-->
<div class="banner-container d-flex justify-content-center p-5">
    <img src="{% static 'gt_store/img/Banner/banner-potencial.png' %}" class="d-block banner-image" alt="...">
</div>

<!--Cards 4-->
<div class="container-fluid ">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-sm-10 col-md-10 col-lg-10">
            <h1 class="pt-5 text-center text-black">Lo mejor de Razer</h1>
            <div class="border-bottom  titleH2 mx-auto"></div>
            <div class="owl-carousel owl-theme pt-5 pb-5">
                {% for r in p_razer %}
                <div class="item">
                    <div class="cards-wrapper position-relative">
                        <a href="{% url 'detalle_producto' r.id_producto %}" class="stretched-link text-decoration-none">
                            <div class="card border-0">
                                <a href="#">
                                    <div class="image-container">
                                        <img src="{{ r.imagen.url }}" class="card-img-top main-image" alt="">
                                    </div>
                                </a>
                                <div class="card-body" style="height: 300px;">
                                    <h6 class="fw-bold">{{ r.marca }}</h6>
                                    <div class="position-relative" style="height: 86.1px;">
                                        <p class="productDesc">{{ r.descripcion }}</p>
                                    </div>
                                    <div>
                                        {% if r.descuento is not 0 or p.precio_anterior is not 0 %}
                                        <div class="priceContainer d-flex position-absolute dsctoTarget">
                                            {% if r.descuento is not 0 %}
                                                <span class="dscto">{{ r.descuento }}% DCTO.</span>
                                            {% endif %}
                                            {% if r.precio_anterior is not 0 %}
                                                <span class="old-price oldPrice" data-precio-anterior="{{r.precio_anterior}}"></span>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                        <div class="position-relative pt-4">
                                            <p class="price" data-precio-transferencia="{{r.precio_transferencia}}"></p>
                                            <p class="transf fw">Transferencia</p>
                                            <p class="price" data-precio-normal="{{r.precio_normal}}"></p>
                                            <p class="otro fw">Otro medio de pago</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>

<!--Reviews-->
<div class="container">
    <div id="slick-carousel-reviews" class="row position-relative">
        <!-- Las reseñas se agregarán aquí -->
    </div>
</div>

<!--Slider-->
<div class="slider align-items-center">
    <div class="slide-track  align-items-center">
        <div class="slide">
            <img src="{%static 'gt_store/img/Logos/Slider/1.png' %}" alt="">
        </div>
        <div class="slide">
            <img src="{%static 'gt_store/img/Logos/Slider/2.png' %}" alt="">
        </div>
        <div class="slide">
            <img src="{%static 'gt_store/img/Logos/Slider/3.png' %}" alt="">
        </div>
        <div class="slide">
            <img src="{%static 'gt_store/img/Logos/Slider/4.png' %}" alt="">
        </div>
        <div class="slide">
            <img src="{%static 'gt_store/img/Logos/Slider/5.png' %}" alt="">
        </div>
        <div class="slide">
            <img src="{%static 'gt_store/img/Logos/Slider/6.png' %}" alt="">
        </div>
        <div class="slide">
            <img src="{%static 'gt_store/img/Logos/Slider/7.png' %}" alt="">
        </div>
        <div class="slide">
            <img src="{%static 'gt_store/img/Logos/Slider/8.png' %}" alt="">
        </div>
        <div class="slide">
            <img src="{%static 'gt_store/img/Logos/Slider/9.png' %}" alt="">
        </div>
        <div class="slide">
            <img src="{%static 'gt_store/img/Logos/Slider/10.png' %}" alt="">
        </div>
        <div class="slide">
            <img src="{%static 'gt_store/img/Logos/Slider/11.png' %}" alt="">
        </div>
    </div>
</div>
{% endblock %}