/* Tarjetas */
.card {
    width: 100%; /* Ancho completo en pantallas pequeñas */
    margin-bottom: 5px; /* Reducir el espacio entre tarjetas */
}


@media (max-width: 576px) {
    .filter {
        display: none; /* Ancho fijo para los filtros en dispositivos pequeños */
    }

    .card {
        width: 100%; /* Ocupa el resto del ancho disponible */
        margin-bottom: 5px; /* Reducir el espacio entre tarjetas */
        margin: auto;
    }

}
@media (min-width: 576px) {
    .filter {
        width: 25%; /* Ancho fijo para los filtros en dispositivos pequeños */
    }

    .card {
        width: calc(100% - 20px); /* Ocupa el resto del ancho disponible */
        margin-bottom: 5px; /* Reducir el espacio entre tarjetas */
    }

    .desc {
        font-size: 12px;
    }

    .price {
        color: #E22F89;
        margin: 0;
        font-weight: bold;
    }

    .metod {
        font-size: 10px;
    }

    .dscto {
        border: 1px solid;
        border-radius: 5px;
        padding: 3px;
        background-color: #00e6fa;
        color: white;
        font-size: 10px;
        font-weight: bold;
    }

    .old-price {
        padding-left: 5px;
        text-decoration: line-through;
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    .filter {
        width: 20%; /* Ancho fijo para los filtros en dispositivos medianos */
    }

    .card {
        width: calc(100% - 20px); /* Ocupa el resto del ancho disponible */
        margin-bottom: 5px; /* Reducir el espacio entre tarjetas */
    }

    .price {
        color: #E22F89;
        margin: 0;
        font-weight: bold;
        font-size: 20px;
    }

    .metod {
        font-size: 15px;
    }

    .dscto {
        border: 1px solid;
        border-radius: 5px;
        padding: 3px;
        background-color: #00e6fa;
        color: white;
        font-size: 10px;
        font-weight: bold;
    }

    .old-price {
        padding-left: 5px;
        text-decoration: line-through;
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    .filter {
        width: 15%; /* Ancho fijo para los filtros en dispositivos grandes */
    }

    .card {
        width: calc(100% - 20px); /* Ocupa el resto del ancho disponible */
        margin-bottom: 5px; /* Reducir el espacio entre tarjetas */
    }

    .price {
        color: #E22F89;
        margin: 0;
        font-weight: bold;
        font-size: 21px;
    }

    .metod {
        font-size: 16px;
    }

    .dscto {
        border: 1px solid;
        border-radius: 5px;
        padding: 3px;
        background-color: #00e6fa;
        color: white;
        font-size: 10px;
        font-weight: bold;
    }

    .old-price {
        padding-left: 5px;
        text-decoration: line-through;
        font-size: 15px;
    }
}

.breadcrumb-item a {
    text-decoration: none;
    color: #E22F89;
    font-weight: bold;
}

.input-group input:focus,
.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}
