<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Mis Direcciones</h2>
    <ul>
        {% for direccion in direcciones %}
            <li>{{ direccion.calle }} {{ direccion.numero }}, {{ direccion.comuna.nombre }}, {{ direccion.region.nombre }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'agregar_direccion' %}">Agregar Nueva Dirección</a>
    
</body>
</html>