<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Personales</title>
</head>
<body>
    <h1>Datos Personales</h1>
    <p>Nombre: {{ user.nombre }}</p>
    <p>Apellido: {{ user.apellido }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Teléfono: {{ user.telefono }}</p>
    <p>RUT: {{ user.rut }}</p>
    <a href="{% url 'editar_datos_personales' rut=request.session.user_rut %}" class="btn btn-primary">Modificar</a>
</body>
</html>
