*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
/*Extra small*/
@media (min-width: 0px ) and  (max-width: 576px ) {
    .navBarLg {
        display: none;  
    }

    .navMenu{
        display: none;
    }

    .imgBanner {
        max-width: 100%;
        height: auto; 
    }
  
    .banner-image {
        max-width: 100vw;
        height: auto; 
    }

    .imgLogomd{
        width: 100px;
    }

    .searchDiv{
        width: 100vw;
        height: 7vh;
    }

    .bi-search{
        padding-bottom: 100px;
    }

    .card{
        margin: 0 .5em;
        width: calc(100%);
    }

    .dscto{
        border: 1px solid ;
        border-radius: 5px;
        padding: 3px;
        background-color: #00e6fa;
        color: white;
        font-size: 13px;
        font-weight: bold;
    }

    .old-price{
        padding-left: 5px;
        text-decoration: line-through;
    }

    .price{
        font-size: 20px;
        color: #E22F89;
        margin: 0;
        font-weight:bold ;
    }
    
    .transf{
        margin: 0;
    }

    /*Card efect*/
    .hover-image{
        display: none;
    }

    /*Modal button*/
    .d-grid .btn-primary{
        background-color: #E22F89;
        border: none;
    }


    /*Footer Logo*/
    .footerLogo{
        width: 10rem;
    }
}

/*Small*/
@media (min-width: 576px ) and  (max-width: 768px ) {
    
    .navBarLg {
        display: none;
        
    }

    .navMenu{
        display: none;
    }

    .imgBanner {
        max-width: 100%; /* Establece el ancho máximo de la imagen como un porcentaje del contenedor */
        height: auto; /* Mantiene la proporción de aspecto de la imagen */
    }
    
    .image-container11{
        max-width: 50% ;
        height: 20%;
    }
  
    .banner-image {
        width: 100%;
        height: auto; 
        max-width: 100%; 
        max-height: 200px; 
        padding-left: 9vw; 
        padding-right: 9vw;
        padding-top: 20px;
        justify-content: center;
    }

    .imgLogomd{
        width: 190px;
    }
    
    /*Cards*/
    .cards-wrapper{
        display: flex;
        justify-content: center;
    }

    .card{
        margin: 0 .5em;
        width: calc(100%);
    }

    /*Prices*/
    .dscto{
        border: 1px solid ;
        border-radius: 5px;
        padding: 3px;
        background-color: #00e6fa;
        color: white;
        font-size: 10px;
        font-weight: bold;
    }

    .old-price{
        padding-left: 5px;
        text-decoration: line-through;
    }

    .price{
        font-size: 20px;
        color: #E22F89;
        margin: 0;
        font-weight:bold ;
    }
    
    .transf{
        margin: 0;
    }

    /*Card efect*/
    .hover-image{
        display: none;
    }

    /*Modal button*/
    .d-grid .btn-primary{
        background-color: #E22F89;
        border: none;
    }

     /*Footer Logo*/
     .footerLogo{
        width: 10rem;
    }
}

/*Mid*/
@media   (min-width: 768px ) and (max-width: 992px ) {
    /*NavBar*/
    .nav-link, .dropdown-item {
        color: black;
    }
    
    .fnt{
        font-size: 25px; 
    }

    .navBarLg {
        display: none;
        
    }

    .navMenu{
        display: none;
    }

    /*Banner*/
    .imgBanner {
        max-width: 100%; /* Establece el ancho máximo de la imagen como un porcentaje del contenedor */
        height: auto; /* Mantiene la proporción de aspecto de la imagen */
    }
 
    .image-container11{
        max-width: 50% ;
        height: 20%;
    }
   
    .banner-image {
        width: 100%; /* Para asegurar que la imagen ocupe todo el ancho del container */
        height: auto; /* Altura automática para mantener la proporción de la imagen */
        max-width: 100%; /* Máximo ancho de la imagen */
        max-height: 200px; /* Máxima altura de la imagen (ajustar según tu necesidad) */
        padding-left: 9vw; /* Espaciado interior del container */
        padding-right: 9vw;
        padding-top: 20px;
        justify-content: center;
    }


    /*Cards*/
    .cards-wrapper{
        display: flex;
        justify-content: center;
    }
    
    .card{
        margin: 0 .5em;
        width: calc(100%);
    }
    
    /*Prices*/
    .dscto{
        border: 1px solid ;
        border-radius: 5px;
        padding: 3px;
        background-color: #00e6fa;
        color: white;
        font-size: 13px;
        font-weight: bold;
    }

    .old-price{
        padding-left: 5px;
        text-decoration: line-through;
    }

    .price{
        font-size: 15px;
        color: #E22F89;
        margin: 0;
        font-weight:bold ;
    }
    
    .transf{
        margin: 0;
    }
    
    .imgLogomd{
        width: 190px;
    }

    /*Card efect*/
    .hover-image{
        display: none;
    }

    /*Modal button*/
    .d-grid .btn-primary{
        background-color: #E22F89;
        border: none;
    }

    /*Footer Logo*/
    .footerLogo{
        width: 10rem;
    }
}

/*Large*/
@media (min-width: 992px)  {
    
    /*NavBar*/
    .navBarLg{
        background-color: black;
    }
    
    .navBarLg {
        display: block; 
    }

    .imgLogoLg{
        width: 190px;
        margin-left: 500px;
    }
    
    .navBarmd {
        display: none !important;
    }

    /*CarouselBanner*/
    .imgBanner {
        max-width: 90vw; 
        height: auto; 
        padding-left: 1vw;
        padding-right: 1vw;
    }

    /*Banners*/
    .image-container11{
        max-width: 50% ;
        height: 20%;
    }
   
    
    
    .banner-image {
        width: 80vw;
        height: 35vh;
        padding-top: 20px;
        justify-content: center;
    }
    
    /*Cards*/
    .cards-wrapper {
        display: flex;
        justify-content: center;
    }
    
    .card{
        max-width: 150vw;
        max-height: 150vh;
        width: calc(100%);
    }

    /*Prices*/

    .price{
        font-size: 25px;
        color: #E22F89;
        margin: 0;
        font-weight:bold ;
    }
    
    .transf{
        margin: 0;
    }

    .dscto{
        border: 1px solid ;
        border-radius: 5px;
        padding: 3px;
        background-color: #00e6fa;
        color: white;
        font-size: 13px;
        font-weight: bold;
    }

    .old-price{
        padding-left: 5px;
        text-decoration: line-through;
    }

    /*Card efect*/

    .card:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: box-shadow 0.3s ease-in-out;
    }
    
    .card .image-container {
        position: relative;
        overflow: hidden;
    }

    .card .image-container .image {
        transition: opacity 0.3s ease;
    }

    .card:hover .image-container .image {
        opacity: 0;
    }

    .card:hover .image-container .hover-image {
        opacity: 1;
        transform: scale(1.1);
        transition: opacity 0.3s ease, transform 0.3s ease; /* Agrega la transición de transformación */
    }

    .card .image-container .hover-image {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    

    /*Modal button*/
    .d-grid .btn-primary{
        background-color: #E22F89;
        border: none;
    }

    .d-grid .btn-primary:hover{
        background-color: #00e6fa;
        border: none;
    }

    /*Footer Logo*/
    .footerLogo{
        width: 20rem;
    }
    
}

/*Superior bar*/
.supBarr{
    background-color: #00e6fa;
    color: white;
}


.imgLogo{
    width: 170px;
    align-items: center;
    margin-right: 10px;
    margin-left: 30px;

}

h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
}

.bi{
    color: #00e6fa;
    
    
}


/*Body2*/
.titleH2{
    border: 10px solid #00e6fa;
    border-width: 6px ;
    width: 200px;
    text-align: center;
    border-radius: 3px;
    opacity: 100%;
}

/*Sldier*/
.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    display: flex; /* Utilizar flexbox para alinear los elementos internos */
    justify-content: center; /* Centrar horizontalmente los elementos internos */
    
}

.slider .slide-track{
    display: flex;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width: calc(50px * 21);
    display: flex; 
    align-items: center; 
    overflow-x: auto;
    width: 100%; 
}

.slider .slide{
    width: 200px;
}
.slider .slide img{
    width: 100%;

}

@keyframes scroll {
    0% {
       -webkit-transform: translateX(0);
       transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-50px * 11));
        transform: translateX(calc(-50px * 11));
    }
}

.menuTitle{
    font-weight: bold;
    color: #E22F89;
}

/*Footer*/
.footerLine{
    border: 2px solid #00e6fa;
    width: 50px;
    background-color: #00e6fa;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
}


